accelerate==1.10.0
chumpy
smplx==0.1.28
opencv-python==4.11.0.86
trimesh==4.9.0
tensorboard
numpy==1.26.4
scipy==1.16.3
pyrender==0.1.45
joblib
termcolor
transformers==4.57.1
matplotlib
scikit-learn
tqdm
Pillow
PyYAML
safetensors==0.7.0
